[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "cpptoml"]
	path = lib/cpptoml
	url = https://github.com/skystrife/cpptoml
