<?xml version="1.0" encoding="UTF-8"?>
<gui name="circuittester"
     version="2"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file" >
      <Action name="Save" />
      <Action name="Open" />
      <Action name="Import" />
      <Action name="Export" />
    </Menu>

    <Action name="Save" />

    <Menu>
        <text>Item</text>
      <Action name="Delete" />
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="Move" />
    <Action name="Connect" />
    <Spacer />
    <Action name="Running" />
    <Spacer />
    <Action name="hamburger_menu" />
  </ToolBar>
</gui>
